## Task : We need to extract details of different NGO's from websites.

Here we will use standard web scrapping methods to solve this problem.

In [40]:
'''We first import all the necessary libraries and packages we would need for this project.'''

import requests     # This will help reach website url to ectract source code.
import lxml         # BeautifulScop will use this to read text source code to html like code.
import bs4          # This will help us customixe our search on of the most essential library.
import pandas as pd # This would help to store data.

In [172]:
''' Here we have itterated over all the pages from 35 to 75 on website using requests.'''

# K is a placeholder value to  later be used for data allocation to data frame.
k = 1

# This is an empty data frame to later be stored NGO's data in.
df = pd.DataFrame(columns=('Name', 'Registration_No', 'City', 'address','Sector Working in'))

# Here we itterate over all the pages required (i.e 35-75) 
for rtn in range(35,75,1):
    
    # NGO data has 5 columns on website thus we make index in pair of 5 to extract required data.
    for i in range(0,50,5):
        
        # We request page here one at a time.
        page = requests.get(("https://ngodarpan.gov.in/index.php/home/statewise_ngo/2113/18/{}?").format(rtn))
        
        # We made beautiful scop to get specific details.
        soup = bs4.BeautifulSoup(page.text,"lxml")
        
        # We assign this list a name.
        list_of_data = soup.select('td')
        
        # Second column has 3 details we use .split() method to get these 3 details.
        details = list_of_data[i+2].text
        
        # As registration number and city names are ',' seperated we would use this to divide data.
        details_list = details.split(',')
        
        # Here we will addign every NGO's details to DataFrame.
        df.loc[k] = list_of_data[i+1].text, details_list[0], details_list[1], list_of_data[i+3].text.replace("\n",""),list_of_data[i+4].text
        
        # We would change placeholder so that next NGO gets allocated to next row.
        k +=1

In [180]:
# Calling head method on dataframe to see our collected data.

df.head()

,Name,Registration_No,City,address,Sector Working in,State
1,BONPURA ADARSHA KALYAN NGO,RS/NAL/246/O/54,NALBARI (ASSAM),"VILLAGE BONPURA, PS MUKALMUA, NALBARI DISTRICT...","Animal Husbandry, Dairying & Fisheries,Art &...",Assam
2,BOR ASOM,RS/KAM(M)/263/F/466,Guwahati (ASSAM),"H/No. 109, Ground Floor, Dr. B. K. Kakoty Road...","Art & Culture,Civic Issues,Disaster Management...",Assam
3,BORAIBARI DEVELOPMENT SOCIETY,RS/KJR/253/T/24 OF 2019-2020,KOKRAJHAR (ASSAM),"HO-BALAPARA PART-1,PO- SAPATGRAM ,PS- GOSSAIGA...","Agriculture,Animal Husbandry, Dairying & Fis...",Assam
4,Borak valley rastravasha prachar samity,4147,LAKHIPUR (ASSAM),VILL,Data Not Found,Assam
5,BORBHAG HINDI BIDYALAYA SAMITEE,RS/NL/B/246/69 of1999-2000,NALBARI (ASSAM),"BORBHAG HINDI BIDYALAYA SAMITEEVILL- TORMATHA,...",Education & Literacy,Assam

In [174]:
# Next task is to add state Column to our data frame we would use pandas series method to do this.

state_name = ['Assam']*400
df["State"] = pd.Series(state_name, index = df.index)

In [187]:
# Last step is to convert our data file to Excel sheet. we would use to_excel() method to do this.

df.to_excel("E:\\InternShip\\Data Mining Internship (WDO)\\NGO_DATA_35-75(1).xlsx", index=False)